header {
    background-color: $primary-color;
    height: 404px;
    background-image: url(../assets/blog-image-1.jpg);
    background-repeat: no-repeat;
    background-position-y: 68px;
    background-position-x: 70%;
    background-origin: bottom;
    background-size: cover;
    position: relative;
    @include sm {
        height: unset;
        background-image: unset;
        background-color: $primary-accent;
    }
    .wrapper {
        height: inherit;
    }
    
    .header-container {
        h1 {
            position: absolute;
            bottom: -8.75%;
            @include sm {
                position: relative;
                text-align: center;
            }
        }
    }
    &.contact {
        background-image: url(../assets/contact-image-1.jpg);
        background-position-x: 55%;
        @include sm {
            background-image: unset;
        }
    }
}

