header {
    nav {
        height: 68px;
        background-color: $primary-color;
        @include sm {
            height: unset;
        }

        .main-menu {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        
        .main-menu > li {
            width: 100%; 
            > a {
                display: none;
                padding: 2%;
                height: 100%;
                &:hover,
                &:focus-within {
                    padding-bottom: 0;
                }
                @include sm {
                    display: block;  
                    width: 100%;
                    text-align: center;
                }
                @include sm {
                    &:hover ul.nav,
                    &:focus-within ul.nav {
                        display: flex;
                        height: 100%;
                        transform: scaleY(1);
                        opacity: 1;
                    }
                }
            }
        }
        
        ul.nav {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 0 21%;
            height: 100%;
            @media (max-width:1100px) {
                margin: 0 10%;
            }
            @include med {
                margin: 0 5%;
            }
            @include sm {
                flex-direction: column;
                :nth-child(3) {
                    order: -1;
                }
                transform: scaleY(0);
                opacity: 0;
                height: 0;
                transition: scale 1s ease;
                transition: opacity .5s ease;
            }
        }
        a {
            color: $black;
            padding: 1%;
        }
    }
}