.sidebar {
    background-color: $white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    main {
        padding: 6.25% 0;
        flex-grow: 1;
        .wrapper {
            display: flex;
            justify-content: space-between;
            @include med {
                flex-direction: column-reverse;
            }
        }
        aside,
        section {
            display: flex;
            flex-direction: column;
        }
        aside {
            flex-basis: 30.5%;
            min-width: 30%;
            @include med {
                flex-direction: row;
                margin-top: 2.5%;
            }
            @include sm {
                flex-direction: column;
            }
        }
        section {
            flex-basis: 66.5%;
        }
    }
    aside {
        article {
            margin-bottom: 6.5%;
            padding: 11.5% 10.25% 10.5%;
            @include med {
                padding: 5%;
            }
        }
    }
    article {
        background-color: white;
    }
    
    article.about {
        @include med {
            flex-basis: 60%;
        }
        @include sm {
            margin-bottom: 3%;
        }
    }
    article.recent-posts {
        @include med {
            align-self: flex-start;
            flex-basis: 40%;
            padding: 10% 5% 7.5%;
        }
        @include sm {
            align-self: unset;
        }
    }
}

