button {
    padding: 8px 22px;
    border: none;
    background-color: $primary-accent;
    
    :hover,
    :focus-within {
        color: white;
    }
}



.article-links button {
    padding: 7.5px 17px;
}