$black: #2c2c2c;
$white: #f0efef;
$grey: #303030;
$primary-color: #f6a823;
$secondary-color: #a82706;
$primary-accent: #25CBDE;
$secondary-accent: #285e64;


//#25CBDE
//ask about using color names for shades

$fs-h1: 80;
$fs-h2: 42;
$fs-headerh3: 43;
$fs-h3: 32;
$fs-h4: 24;
$fs-h5: 20;
$fs-body: 20;

$lh-h1: 92;
$lh-h5: 29;
$lh-btn: 32;
$lh-body: 32;

$base-font: 'Roboto', sans-serif;
$logo-font: 'Lora', serif;

$no-space: 1;

$mobilesm: 350px;
$mobile: 480px;
$tablet: 768px;
$desktop-sm: 940px;

