aside {
    .social-links {
        display: flex;
        @include med {
            justify-content: center;
        }
        li {
            flex-basis: 19%;
            @include med {
                text-align: center;
                flex-basis: 12%;
            }
            @include sm {
                flex-basis: 17.5%;
            }
        }
    }
}

.sidebar aside article.contact-info {
    padding: 13% 8% 10%;
    @include med {
        flex-basis: 100%;
        padding: 8% 8% 6%;
    }
}

.contact {
    form input {
        padding-left: 3%;
    }
}

.email-address {
    h4 {
        padding: 6.5% 0 4.5%;
    }
    @include med {
        text-align: center;
    }
}