body,
button,
button a,
::placeholder {
    font-family: $base-font;
    font-weight: bold;
    @include transition;
    @include fontSize($fs-body);
    @include lineHeight($lh-body);
    color: $black;
    @include xs {
        font-size: 1.1rem;
    }
}

h1,
h2,
h3,
h4,
h5,
button,
button a {
    text-transform: uppercase;
}

h1 {
    @include fontSize($fs-h1);
    @include lineHeight($lh-h1);
    font-family: $logo-font;

}

header.home {
    h1 {
        font-size: 8.3rem;
        @media (max-width:1100px) {
            font-size: 6.6rem;
        }
        @include med {
            font-size: 6.0rem;
        }
        @include sm {
            font-size: 4.8rem;
        }
        @media (max-width:350px) {
            font-size: 4.2rem;
        }
    }
}

h2 {
    @include fontSize($fs-h2);
    @include letterSpacing($no-space);
    @include xs {
        line-height: 2.2rem;
    }
}

h3 {
    @include fontSize($fs-h3);
    @include letterSpacing($no-space);
}

header h3 {
    @include fontSize($fs-headerh3);
    font-family: $logo-font;
    text-align: right;
}

h4 {
    @include fontSize($fs-h4);
    @include letterSpacing($no-space);
    @include sm {
        font-size: 1.6rem;
    }
}

h5 {
    @include fontSize($fs-h5);
    @include lineHeight($lh-h5);
    @include letterSpacing($no-space);
    text-align: right;
    @include sm {
        font-size: 1.2rem;
    }
}

button a,
button {
    @include lineHeight($lh-btn);
    @include letterSpacing($no-space);
    color: $black;
}

p,
::placeholder {
    font-weight: normal;
    opacity: 0.8;
}

p.date,
::placeholder {
    font-style: italic;
}

.sidebar main a,
.comments p.date {
    color: $secondary-accent;
    font-weight: bold;
}

.sidebar .recent-posts {
    a {
        color: $black;
        font-weight: normal;
    }
}

header {
    nav {
        a {
            @include transition;
            font-size: 1.5rem;
            :hover,
            &:hover {
                color: white;
            }
        }
    }
}

.sidebar {
    p {
        a {
            @include transition;
        }
        a:hover {
            color: $primary-accent;
        }
    }
}

.social-links li a {
    color: $primary-color;
    @include fontSize(32);
    font-weight: normal;
    @include transition;
    :hover, 
    :focus-within {
        color: $secondary-color;
    }
}

.email-address h4 {
    text-transform: none;
}

aside h4 {
    @include sm {
        text-align: center;
    }
}